.BD .fila {
    margin-top: 0rem;
}
.BD .bodyContainer p {
    margin-top: 0rem;
    text-align: center;    
    font-size: 3rem;
}
.BD{
    margin-top: 4.3rem 0;
    background: radial-gradient(#e2ab73,#ccb392);
}
.Co3{
    flex-basis: 30%;
    min-width: 2rem;
    margin-bottom: 1.8rem;
}
.Co3 img{
    width: 100%;
}
.bodyContainer{
    max-width: 125rem;
    margin: auto;
    padding-left: .6rem;
    padding-right: .6rem;
}