.Zi {
    box-sizing: border-box;

    .GA {

        background: radial-gradient(#e2ab73, #ccb392);
        margin: 0;

        h1 {
            text-align: center;
        }

        img {
            height: 10rem;
            width: 25rem;
            align-items: center;
        }

        .GAC {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 15rem;
            padding: 1.5rem;
            grid-gap: 3.4rem;

        }

        .GT {
            position: absolute;
            bottom: 0;
            color: white;
            background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
            width: 100%;
            padding: .5rem;
        }

        .GI {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }

        .GAI {
            position: relative;
        }

    }
}

@media (min-width : 48rem) {
    .GAC {
        grid-template-columns: repeat(4, 1fr);
    }

}

@media (min-width : 64rem) {
    .GAC {
        grid-template-columns: repeat(5, 1fr);
    }

}