@mixin btn ($color){
    display: inline-block;
    background: $color;
    color: #000000;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    font-size: 25px;
    transition:25ms;
}