*{
    margin: 0%;
}
img{
    display: flex;
}
h1{
    text-align: center;
    color: rgb(245, 176, 65);
}
/* h6{
    text-align: center;
    color: rgb(129, 156, 64);
} */
h5{
    text-align: center;
    color: rgb(147, 224, 84);
}

.audio{
    text-align: center;
}
/* .centrado2{
    text-align: center;
    font-size: 40px;
     color: rgb(220, 118, 51); 
} */
.menu{
    text-align: left;
    font-size: large;
    text-decoration-line: underline;
    color: rgb(133, 193, 233);
}
#form{
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
#pie{
    text-align: center;
    font-size: medium;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
#li{
    text-align: left;
    font-size: large;
    text-decoration-line: underline;
    color: rgb(84, 150, 194);
}
#texto{
    text-align: center;
    font-size: medium;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;
}
.nav-item:hover{
    background-color: rgb(14, 131, 20);
    color:rgb(255, 255, 255); 
    text-decoration: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: row;
    font-size: 25px;
    flex-flow: row;
}
.navbar-brand:hover{
    background-color: rgb(165, 128, 8);
    color:rgb(255, 255, 255); 
    text-decoration: solid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-direction: row;
    font-size: 25px;
    flex-flow: row;
}
.nav-item:active{
    background-color: rgb(156, 196, 12);
    color:rgb(255, 255, 255); 
    text-decoration: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: row;
    font-size: 25px;
    flex-flow: row;
}
.navbar-brand:active{
    background-color: rgb(156, 196, 12);
    color:rgb(255, 255, 255); 
    text-decoration: solid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-direction: row;
    font-size: 25px;
    flex-flow: row;
}
.gridContainerColumns{
    border: 1px;
    background-color: lightskyblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    padding: 10px;
}
@media only screen and (min-width: 991px){
    body{
        background-color:rgb(140, 236, 140);
        text-align: justify;
    }
    h1{
        color: darkred;
        font-family: cursive;        
    }
    h3{
        color: darkturquoise;
        font-family: fantasy;
        text-align: center;
        background-color: darkgoldenrod;
    }
    h6{
    text-align: center;
    color: rgb(255, 3, 3);
    } 
    ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
    img{
        border-radius: 80px;
        width: 20%;
    }
    .centrado{
        text-align: center;
        font-size: 20px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: rgb(232, 248, 245 );
        border-radius: 40px; 
    }
}
@media only screen and (max-width: 992px){
    body{
        background-color:rgb(245, 176, 65);
        text-align: center;
    }
    h1{
        color: darkred;
        font-family: cursive;        
    }
    h3{
        color: darkturquoise;
        font-family: fantasy;
        text-align: center;
        background-color: darkgoldenrod;
    }
    h6{
    text-align: center;
    color: chartreuse;
    }
    ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
    img{
        border-radius: 90px;
        width: 50%;
    }
    .centrado{
        text-align: center;
        font-size: 20px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: rgb(47, 236, 202);
        border-radius: 40px; 
    }
}
