.BD .fila {
  margin-top: 0rem;
}

.BD .bodyContainer p {
  margin-top: 0rem;
  text-align: center;
  font-size: 3rem;
}

.BD {
  margin-top: 4.3rem 0;
  background: radial-gradient(#e2ab73, #ccb392);
}

.Co3 {
  flex-basis: 30%;
  min-width: 2rem;
  margin-bottom: 1.8rem;
}

.Co3 img {
  width: 100%;
}

.bodyContainer {
  max-width: 125rem;
  margin: auto;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.piePag {
  width: 100%;
  background: radial-gradient(#e2ab73, #ccb392);
}

.piePag .G1 {
  width: 100%;
  max-width: 125rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.125rem;
  padding: 2.8rem 0rem;
}

.piePag .G1 .CJA figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piePag .G1 .CJA figure img {
  width: 32rem;
  height: 20rem;
  border-radius: 2rem;
}

.piePag .G1 .CJA h2 {
  color: black;
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

.piePag .G1 .CJA p {
  color: black;
  margin-bottom: 0.6rem;
}

.piePag .G1 .CJA .redes {
  display: inline-block;
  text-decoration: none;
  min-height: 2rem;
  min-width: 2rem;
  line-height: 2rem;
  color: black;
  margin-right: 0.6rem;
  background: radial-gradient(#e2ab73, #ccb392);
  text-align: center;
  transition: all 300ms ease;
}

.piePag .G2 {
  background: radial-gradient(#e2ab73, #ccb392);
  padding: 0.9rem 0.6rem;
  text-align: center;
  color: aliceblue;
}

.piePag .G2 small {
  font-size: 0.9rem;
}

@media screen and (max-width: 50rem) {
  .piePag .G1 {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    padding: 1.5rem 0rem;
  }
}
.Bnav {
  display: flex;
  align-items: center;
  padding: 0.75rem;
}

nav {
  flex: 1;
  text-align: right;
  font-size: 1.25rem;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav li {
  display: inline-block;
  margin: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

p {
  color: black;
  font-size: 1.5rem;
}

.headerContainer {
  max-width: 125rem;
  margin: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.fila {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Co2 {
  flex-basis: 50%;
  min-width: 19rem;
  padding: 2.5rem;
}

.Co2 img {
  max-width: 100%;
  padding: 2.5rem 0;
}

.Co2 h1 {
  font-size: 3.5rem;
  line-height: 3.75rem;
  margin: 1.5rem 0;
}

.btn {
  display: inline-block;
  background: #c9842f;
  color: #000000;
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  transition: 25ms;
}

.btn:hover {
  background: #ff9513;
}

nav ul li:hover {
  background: #ff9513;
  font-size: 1.1rem;
  color: black;
  text-decoration: none;
}

header {
  background: radial-gradient(#e2ab73, #ccb392);
}

header .fila {
  margin-top: 1.8rem;
}

.CN {
  padding-left: 1rem;
  display: inline-block;
  font-size: 3.5rem;
  line-height: 3.75rem;
  margin: 1rem;
  text-align: left;
}

@media (min-width: 2440px) {
  .ESR {
    font-size: 1.3rem;
  }
  .Bnav {
    position: absolute;
    height: 100vh;
    width: 12rem;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
  }
  .BD {
    position: absolute;
    height: 100vh;
    width: 12rem;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
  }
  .piePag {
    position: absolute;
    height: 100vh;
    width: 12rem;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
    display: block;
    font-size: 2rem;
  }
  .G1 .CJA {
    height: 50%;
    width: 50%;
  }
}
.BA {
  width: 100%;
  margin: auto;
  padding: 2.8rem;
  display: block;
  text-align: center;
  background: radial-gradient(#e2ab73, #ccb392);
}
.BA h1 {
  font-size: 2.5rem;
}
.BA ul {
  text-align: left;
  margin-top: 3rem;
  margin-left: 1rem;
  font-size: 1.8rem;
  text-decoration: underline;
}
.BA #UL2 {
  width: 100%;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.8rem;
  display: block;
  text-align: left;
}
.BA #btn1 {
  display: inline-block;
  background: rgb(197, 145, 32);
  color: #000000;
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  transition: 25ms;
}
.BA #btn1:hover {
  background: #ff9513;
}
.BA #btn2 {
  display: inline-block;
  background: rgb(197, 145, 32);
  color: #000000;
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  transition: 25ms;
}
.BA #btn2:hover {
  background: #ff9513;
}

.Zi {
  box-sizing: border-box;
}
.Zi .GA {
  background: radial-gradient(#e2ab73, #ccb392);
  margin: 0;
}
.Zi .GA h1 {
  text-align: center;
}
.Zi .GA img {
  height: 10rem;
  width: 25rem;
  align-items: center;
}
.Zi .GA .GAC {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 15rem;
  padding: 1.5rem;
  grid-gap: 3.4rem;
}
.Zi .GA .GT {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
  width: 100%;
  padding: 0.5rem;
}
.Zi .GA .GI {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Zi .GA .GAI {
  position: relative;
}

@media (min-width: 48rem) {
  .GAC {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 64rem) {
  .GAC {
    grid-template-columns: repeat(5, 1fr);
  }
}

/*# sourceMappingURL=base.css.map */
